ion-item {
    --ion-item-background: rgba(0, 0, 0, 0);
}

ion-input {
  background-color: rgb(236, 219, 164);
  --padding-start:20px;
  --placeholder-color: rgb(12, 1, 1);
  border-top-left-radius: 20px; border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;
  --color: white;
}

ion-input[name="name"] {
  margin-top:50px
}


.input-margin{ 
 margin-top: 10px;
}

ion-input[name="address"] {
  margin-bottom:30px
}




ion-content {
  background-image: url('../../../assets/images/login.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  --background:  no-repeat center contain;
}

@-webkit-keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  @keyframes slideInLeft {
    from {
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    animation-duration: 1s;
  }

  @-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
    }
  
    50% {
      opacity: 1;
    }
  }
  
  .zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    animation-duration: 1s;
    animation-duration: 1s;
  }

  .no-scroll .scroll-content{
    overflow-y: hidden !important;
}

  
  