ion-item {
    --ion-item-background: rgba(0, 0, 0, 0);
}

ion-input {
  background-color: rgb(236, 219, 164);
  --padding-start:20px;
  --placeholder-color: rgb(12, 1, 1);
  border-top-left-radius: 20px; border-bottom-left-radius: 20px;border-top-right-radius: 20px;border-bottom-right-radius: 20px;
  --color: white;
}

ion-input[type="text"] {
  margin-top:30px
}

ion-input[type="password"] {
  margin-top:10px;
  margin-bottom: 15px;
}

ion-content {
  background-image: url('../../../assets/images/login.jpg');
  background-repeat: no-repeat;
  background-size:100% 100% !important;
  background-attachment: fixed !important;
  --background:  no-repeat center contain;
}

.scroll-content {
  padding-bottom: 0 !important;
}

