
 

 .slide-one {

background-image: url('../../../assets/images/login.jpg');
background-size: contain;
background-position: center;
;
color:yellow;
 }

 .slide-two {
 
  background-image: url('../../../assets/images/fast__food.jpeg');
background-size: contain;
background-position: center;
color: white;
 }

 .slide-three {
  background-image: url('../../../assets/images/fast___food.jpeg');
background-size: cover;
background-position: center;
color: white;
background-repeat: no-repeat;
 }

 