
 .slide-one {

background-image: url('../../../assets/images/login.jpg');
background-size: contain;
background-position: center;
;
color:yellow;
 }

 .slide-two {
 
  background-image: url('../../../assets/images/fast__food.jpeg');
background-size: contain;
background-position: center;
color: white;
 }

 .slide-three {
  background-image: url('../../../assets/images/fast___food.jpeg');
background-size: cover;
background-position: center;
color: white;
background-repeat: no-repeat;
 }

 .slide-item {
   //display:flex;
  // justify-content: center;
  // align-items: center;
  // flex-direction: column;
   font-size: 10px;
  margin:0 !important;
 }

 .category-label {
   font-size: 20px;
   padding-left:10px
 }

  ion-content.main{
    --background: darkslategrey;
   // color: darkslategrey
  }

 ion-slides.items {
    height: 20vh;
    padding: 0;
      ion-slide {
          padding: 0;
          margin: 0;
          ion-card.items {
            --background: rgba(128, 128, 128, 0.5);
            //color: rgba($color: #808080, $alpha: 0.5)
         // color: rgba(red, green, blue, alpha)
            border-radius: 9px;
            height:19vh;
            width:100%;

            ion-img {
              height:11vh;
              width: 100%
            }

            ion-card-title {
              font-size: 0.9em
            }

            p {
              font-size: .8em
            }

          }

      }
   
 }

 ion-slides.categories {
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
    ion-slide {
      margin:0;
      padding: 0;
    }
 
}

div.category {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  }

  div.category::-webkit-scrollbar {
    display: none;
  }

  
  

 
 
 @media only screen and (min-width:768px) {

 }

 @media only screen and (min-width:992px) {
  ion-slides.items {
    
      ion-slide {
          
          ion-card.items {
            

            ion-card-title {
              font-size: 1rem
            }

            p {
              font-size: 0.9rem
            }

          }

      }
   
 }
}

@media only screen and (min-width:1200px) {
  ion-slides.items {
    
    ion-slide {
        
        ion-card.items {
          

          ion-card-title {
            font-size: 1rem
          }

          p {
            font-size: 0.9rem
          }

        }

    }
 
}
}